.rps-choice-container {
    display: grid;
    margin-bottom: 60px;
    transition: opacity 0.5s ease-in;
    flex-direction: column;
    gap: 15px;
    z-index: 5;
    
    position: absolute;
    bottom: 50px;
    left: 150px;
}


.rps-choice-container input {
    width: 70px;
    height: 70px;
    color: #fff;
    background-color: #c71818;
    padding: 15px 15px 15px 15px;
    margin: 10px;
    font-size: 36px;
    border: 0;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
}

.rps-choice-container input:active {
    transform: translateY(5px);
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}

#attackBtn {
    z-index: 2;
}

.cat {
    display: block;
    position: absolute; 
    left: 28vw;
    bottom: 23vh;
    z-index: 1;
    margin: none;
    image-rendering: pixelated;
    transform: scale(6);
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.cat-img {
    animation: catWalk 1.2s steps(4) infinite;
}

#player {
    display: block;
    position: absolute; 
    left: 30vw;
    bottom: 35vh;
    z-index: 1;
    margin: none;
    image-rendering: pixelated;
    transform: scale(4.5);
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.playerIdle {
    animation: playerIdling 1.5s steps(7) infinite;

}

.playerAttack {
    display: none;
    animation: playerAttacking 1.3s steps(9);

}

#enemy {
    display: block;
    position: absolute; 
    right: 25vw;
    bottom: 61vh;
    z-index: 1;
    margin: none;
    image-rendering: pixelated;
    transform: scale(8);
    width: 288px;
    height: 160px;
    overflow: hidden;
}

.flip {
    /* transform: scaleX(-1) !important; */
}

.enemyIdle {
    animation: enemyIdling 1.5s steps(6) infinite;

}


@keyframes catWalk {
    from {
        transform: translate3d(0px,-60%,0);
    } 
    to {
        transform: translate3d(-50%,-60%,0);
    }
}
    

@keyframes playerIdling {
    from {
        transform: translate3d(0px,0,0);
    } 
    to {
        transform: translate3d(-100%,0,0);
    }
}
    
@keyframes playerAttacking {
    from {
        transform: translate3d(0px,0,0);
    } 
    to {
        transform: translate3d(-100%,0,0);
    }
}

@keyframes enemyIdling {
    from {
        transform: translate3d(0px,0,0);
    } 
    to {
        transform: translate3d(-27.275%,0,0);
    }
}

@keyframes enemyAttacking {
    from {
        transform: translate3d(0px,-40%,0);
    } 
    to {
        transform: translate3d(-68%,-40%,0);
    }
}