body {
    overflow-x: hidden;
}

.hideable {
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#first.hidden {
    opacity: 0;
    display: none;
}

.delayed-show {
    opacity: 0;
    display: none;    
}

#second.show {
    animation: fadeOut 0.5s forwards;
    display: flex;
}

@keyframes fadeOut {
    0% { opacity: 0; }
    20% { opacity: 0.2;  }
    40% { opacity: 0.4;  }
    60% { opacity: 0.6;  }
    80% { opacity: 0.8;  }
    100% { opacity: 1; }
}


.menu-select {
    position: fixed;
    top: 100px;
}

.gamemodes {
    z-index: 1;
    display: flex;
    width: 80%;
    height: 60vh;
    transition: all 0.5s ease-in-out;
}

.rpsmode, .typeracermode {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc {
    width: 80%;
    text-align: center;
    color: white;
    font-size: 26px;
}

.btn {
    border: none;
    font-size: 40px;
    background: transparent;
}

.btn:hover {
    font-size: 56px;
    text-shadow:1px 1px 50px #000000, 1px 1px 50px #000000;
}

.btn:focus {
    outline: none;
}

@keyframes fadeIn {
    0% { opacity: 1; }
    20% { opacity: 0.8;  }
    40% { opacity: 0.6;  }
    60% { opacity: 0.4;  }
    80% { opacity: 0.2;  }
    100% { opacity: 0; }
}

#transition-fade-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1;
    pointer-events: none;
    z-index: 9999;
}

.cat1 {
    transition: transform 5s;
    display: block;
    position: absolute; 
    left: 15vw;
    bottom: 30vh;
    z-index: 1;
    margin: none;
    image-rendering: pixelated;
    transform: scale(8);
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.cat-img1 {
    overflow: hidden;
    animation: catWalk 1.2s steps(8) infinite;
}

.difficulty-container {
    margin-bottom: 90px;
    transition: opacity 0.5s ease-in;
    flex-direction: column;
    gap: 15px;
    z-index: 5;
}

.difficulty-container button {
    color: #fff;
    background-color: #5EAA33;
    padding: 15px 40px 15px 40px;
    margin: 10px;
    font-size: 36px;
    border: 0;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
}

.difficulty-container button:active {
    transform: translateY(5px);
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}

#second p {
    position: absolute;
    justify-content: center;
    bottom: 30vh;
    font-size: 26px;

    left: 50%;            /* Center horizontally */
    transform: translateX(-50%);  /* Adjust for perfect centering */
    text-align: center;   /* Ensures text is aligned */
}


